body {
    background-color: slateblue;
}

.secret {
    opacity: 0.5;
}

ul {
    list-style: none;
}

table {
    border: grey 1px solid;
    margin: auto;
    align-self: center;
}

th {
    border: grey 1px solid;
}

td {
    border: grey 1px solid;
}